.clearfix,.clr 	{ float: none; clear: both; }
* {	margin:0;
	padding:0;}
	
body {margin:0}

/* Container */
.container { width:1020px; margin:0 auto;}
.container .sombraEsquerda { float:left;}
.container .sombraDireita { float:left;}

/* Container Interno */
.site { width:960px; float:left; }

/* Cabeçalho */
.site .headerDireito {width:580px; height:160px; float:right}
.site .header .headerEsquerdo {width: 290px; float:left}

.site .header { height:160px; background:url(imgs/headerBG.jpg) no-repeat; padding-left:50px; padding-top:2px; padding-right:40px}
.site .header .headerlogo {width:279px; float:left}
.site .header .barraPesquisa {width:255px; height:27px; float:right; margin-top:20px; text-align:right}
.site .header button.botaoSearch { border: none; margin: 0 -4px 0 0; padding: 0;  background: url(imgs/searchBotao.png); width: 28px; height: 24px; text-indent: -9999px }
.site .header button.botaoSearch:hover { background: url(imgs/searchBotaoHover.png); }
.site .header input.barraSearch { background: url(imgs/searchInput.png); border: none; width: 220px; height: 24px;}

/* Menu */

.menuContainer { width:580px; float:right; margin-top:15px}	
ul { list-style:none;}
ul.menu {margin:0 auto; position:relative; float:right}
ul.menu li {float:left;}
ul.menu li a { display:block; margin-left:20px ;float:left; text-transform:uppercase ;padding:0 15px; height:39px; line-height:39px; text-decoration:none; color:#333; border:1px solid #ccc; background:url(imgs/menu.jpg) repeat-x}
ul.menu li a:hover, ul.menu li a.ativo { background:url(imgs/menuAtivo.jpg) repeat-x}
ul.menu li ul { display:none; position:absolute; top:39px; margin:0 20px; background:#ccc;}
ul.menu li ul li a { padding: 0 10px;margin: 0;font-size: 12px; width: 150px}

/* Rede sociais */

.site .header .redeSociais { width:580px; height:60px; float:right; text-align:right; margin-top:10px;}

/* Colunas */
.conteudo { width:900px; margin: 0 auto; }

.col1, .clo2, .col3, .col4, .col5, 
.col6, .col7, .col8, .col9, .col10 { display: inline; float: left; margin-left: 5px; margin-right: 5px; }

.conteudo .col1 { width: 890px; }
.conteudo .col2 { width: 440px; }
.conteudo .col3 { width: 290px; }
.conteudo .col4 { width: 215px; }
.conteudo .col5 { width: 170px; }
.conteudo .col6 { width: 140px; }
.conteudo .col9 { width:  90px; }

/* Conteúdo */
.site .content { background: url(imgs/conteudoBKG.png); }

.site .slide { height:366px; width:893px; background:url(imgs/content1_03.jpg); float:none; no-repeat; margin:5px auto;}
.site .quadrado { float: left; width: 12px; height: 12px; background-color: #d1ad6e; margin-top: 11px; margin-right: 8px;}
.site .cabecalho { margin:5px 0px 0px 0px; height:37px; padding:3px; text-transform: uppercase; letter-spacing: 10px;}

p.separador { text-align:center;width: 285px;margin-top: 20px; }

/* Roda pé */
.site .footer { height:166px; }
.site .footer .barraCinza { height:140px;background:url(imgs/footerbg_06_06.jpg) repeat}
.site .footer .barraCinza .footerEsquerdo { width:135px; margin-left:65px; padding-top:25px; float:left }
.site .footer .barraCinza .footerDireito { width:670px; float:right}
.site .footer .barraCinza .footerDireito .footerContato {height:80px; width:265px; float:left; margin-top:27px}
.site .footer .barraCinza .footerDireito .footerContato .contatoEsquerdo { float:left}
.site .footer .barraCinza .footerDireito .footerContato	.contatoDireito	{float:right}
.site .footer .barraCinza .footerDireito .barraNews { width:280px; float:right; margin-top:30px}
.site .footer button.botaoNews {height:35px; width:37px; border:none; background:url(imgs/footerIconeNews.png); text-indent: -9999px;margin-right: -4px;}
.site .footer .barraCinza .footerDireito .barraNews input.inputNews { border:none; background:url(imgs/footerInputNews.png) no-repeat; width:225px; height:35px;}
.site .footer .barraBranca { height:26px;}
.site .footer .sombraTop { background: url(imgs/footerSombraTop.png); float: left; width:960px; height:14px; }
.site .footer .barraCinza .sombraBottom { background: url(imgs/footerSombraBottom.png);  float: left; width:960px; height:14px; }
